.paral {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	min-height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url(/assets/chaumiere.jpg);
	margin-bottom: 2em;
	z-index: 1;
}

.paral .container-fluid {
	z-index: 1001;
}

.overlay {
	justify-content: center;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	background:rgba(0,0,0,0.6);
	content: '\A';
}

.overlaytext {
	width: 80%;
}

/* Paragraph for Parallax Section */
.paral p {
	color:#f5f5f5;
	text-align: center;
}

/* Heading for Parallax Section */
.paral h1 {
	padding-top: 30px;
	color: rgba(255, 255, 255);
	text-align: center;
}

.home p {
	display: flex;
	flex-direction: column;
}

.home img {
	width: 66%;
	align-self: center;
}

.about {
	display: flex;
}

.imageContainer {
	flex: 1;
}

.image {
	height: 30vw;
	background-image: url(/assets/profile.jpg);
	background-size: cover;
	background-position: center;
}

.imageText{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quote {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pageTitle {
	position: relative;
	display: inline-block;
	font-weight: 500;
}

.pageTitle:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	content: '';
	width: 75%;
	border-bottom: 2px solid #FFC107;
}

.details{
		font-family: serif;
		font-size: 32px;
		font-style: italic;
		padding-left: 32px;
		text-align: center;
		color: gray;
		padding-bottom: 32px;
}

.author{
	font-size: 16px;
	color: black;
}

.bio{
	margin: 40px auto;
	display:flex;
	justify-content: center;
}

.bioleft, .bioright{
	max-width: 25%;
	text-align: justify;
}

.bioleft{
	padding-right: 16px;
}

.bioright{
	padding-left: 16px;
}

@media all and (max-width: 728px) {
	.home {
		padding: 16px;
	}

	.overlaytext {
		width: 100%;
	}


	.about, .bio {
		flex-direction: column;
	}

	.details {
		padding: 16px 0 0 0;
		font-size: 1.5rem;
	}

	.image {
		height: 50vw;
		width: 100%;
	}

	.bioleft, .bioright{
		max-width: 100%;
		text-align: justify;
		padding: 0;
	}
}
